<div class="row disable-dbl-tap-zoom">

    <div class="col-12 col-md-6 f_naranjo text-center login_derecha ">
        <i (click)="info()" class="fas fa-cogs fa-10x" style="color:white;"></i>
        <div class="col-12 version text-center">
            <p style="margin:0">Versión node en servidor: {{params.node.version}}</p>
            <p>Versión node en Tablet: {{version}}</p>
        </div>

    </div>

    <div class="col-12 col-md-6 login_izquierda animated fadeIn">

        <div class="row">
            <div class="col-8 offset-2">
                <h2>Configurar conexión <br>a base de datos</h2>
                <form (ngSubmit)="guardarFormulario(f)" #f="ngForm">
                    <label>Url:</label>
                    <input type="text" class="form-control" name="url" [(ngModel)]="params.node.url" placeholder="url" required>

                    <label>Puerto:</label>
                    <input type="text" class="form-control" name="puerto" [(ngModel)]="params.node.puerto" placeholder="puerto" required>

                    <button type="submit" class="btn btn-primary btn-block mt-2 mb-4">
                    Conectar
                    </button>
                    
                </form>
                
                <button class="btn btn-info" style="margin:0 10px 0 " (click)="copiarUrl()"><i class="far fa-clone"></i></button>
                
                <button class="btn btn-warning" routerLink="/login">Volver</button>

            </div>
        </div>

    </div> 







</div>


