<div class="row header animated slideInDown">
    
    <div class="col-12 col-md-3 pt-3">
       <h2> <img src="./assets/images/logo_blanco.svg" width="150px"> | COMANDAS </h2> 
    </div>
    
    <div class="col-12 col-md-2">
        <label>Tipo de comanda</label>
        <select class="form-select" aria-label="Default select example">
            <option value="0">Todas</option>
            <option value="1">Salón</option>
            <option value="2">Venta Directa</option>
            <option value="3">Delivery</option>
            <option value="4">Retiro</option>
          </select>
    </div>
    <div class="col-12 col-md-2">
        <label>Sector de Comandas</label>
        <select class="form-select" aria-label="Default select example">
            <option value="0">Todas</option>
            <option value="1">Cocina Caliente</option>
            <option value="2">Bar</option>
          </select>
    </div>
    <div class="col-12 col-md-2">
        <label>Estado Comanda</label>
        <select class="form-select" aria-label="Default select example">
            <option value="0">Todas</option>
            <option value="1">Por Tomar</option>
            <option value="2">Preparando</option>
            <option value="3">Terminada</option>
            <option value="4">Anulada</option>
          </select>
    </div>
    <div class="col-12 col-md-3 pt-1">
     <h1>  SALÓN | <i class="fas fa-receipt"></i> 9</h1>
    </div>
  
</div>


<div class="row fondo pad20">
<!-- 
    <div class="col-12 col-md-3 comanda shadow">
        <div class="row headComanda f_rojo">
            <div class="col-2">
                <img src="./assets/images/cooking.svg" width="100%">
            </div>
            <div class="col-8">
                <h1>Y001</h1>
                <h5>Preparando - EA0101</h5>
            </div>
            <div class="col-2">
                <img src="./assets/images/cooking.svg" width="100%">
            </div>
        </div>

        <div class="row bodyComanda">
            <div class="col-12">
                <h1>cuerpo</h1>
            </div>
        </div>
        
    </div> -->

   


      <div class="row">

        <!-- COMANDA -->
        <div class="col-12 col-md-3">
            <div class="card shadow animated fadeIn">
                <div class="card-header f_rojo">
                    <div class="row">

                        <div class="col-6">
                            <h1>Y001 
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
                                13
                              </span>
                            </h1>
                            <h5>Preparando - EA0101</h5>
                        </div>
                        <div class="col-3" style="border-right: 1px solid white;">
                            <img src="./assets/images/cooking.svg" width="60px">
                        </div>
                        <div class="col-3">
                            <img src="./assets/images/salon.svg" width="60px">
                        </div>
                    </div>
                </div>

                <div class="card-body">
                  <h3 >1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                </div>


                <div class="card-footer text-muted f_dark">
                  <div class="row">
                      <div class="col-6">
                        <h4><i class="far fa-clock"></i> 09:35</h4>
                      </div>
                      <div class="col-6 text-right">
                          <button class="btn btn-primary">Tomar Pedido</button>
                      </div>
                  </div>
                </div>
              </div>
        </div>
        <!-- FIN COMANDA -->
        <!-- COMANDA -->
        <div class="col-12 col-md-3">
            <div class="card shadow animated fadeIn">
                <div class="card-header f_rojo">
                    <div class="row">

                        <div class="col-6">
                            <h1>Y001 
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
                                13
                              </span>
                            </h1>
                            <h5>Preparando - EA0101</h5>
                        </div>
                        <div class="col-3" style="border-right: 1px solid white;">
                            <img src="./assets/images/cooking.svg" width="60px">
                        </div>
                        <div class="col-3">
                            <img src="./assets/images/salon.svg" width="60px">
                        </div>
                    </div>
                </div>

                <div class="card-body">
                  <h3 >1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                </div>


                <div class="card-footer text-muted f_dark">
                  <div class="row">
                      <div class="col-6">
                        <h4><i class="far fa-clock"></i> 09:35</h4>
                      </div>
                      <div class="col-6 text-right">
                          <button class="btn btn-primary">Tomar Pedido</button>
                      </div>
                  </div>
                </div>
              </div>
        </div>
        <!-- FIN COMANDA -->
        <!-- COMANDA -->
        <div class="col-12 col-md-3">
            <div class="card shadow animated fadeIn">
                <div class="card-header f_rojo">
                    <div class="row">

                        <div class="col-6">
                            <h1>Y001 
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
                                13
                              </span>
                            </h1>
                            <h5>Preparando - EA0101</h5>
                        </div>
                        <div class="col-3" style="border-right: 1px solid white;">
                            <img src="./assets/images/cooking.svg" width="60px">
                        </div>
                        <div class="col-3">
                            <img src="./assets/images/salon.svg" width="60px">
                        </div>
                    </div>
                </div>

                <div class="card-body">
                  <h3 >1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                </div>


                <div class="card-footer text-muted f_dark">
                  <div class="row">
                      <div class="col-6">
                        <h4><i class="far fa-clock"></i> 09:35</h4>
                      </div>
                      <div class="col-6 text-right">
                          <button class="btn btn-primary">Tomar Pedido</button>
                      </div>
                  </div>
                </div>
              </div>
        </div>
        <!-- FIN COMANDA -->
        <!-- COMANDA -->
        <div class="col-12 col-md-3">
            <div class="card shadow animated fadeIn">
                <div class="card-header f_rojo">
                    <div class="row">

                        <div class="col-6">
                            <h1>Y001 
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
                                13
                              </span>
                            </h1>
                            <h5>Preparando - EA0101</h5>
                        </div>
                        <div class="col-3" style="border-right: 1px solid white;">
                            <img src="./assets/images/cooking.svg" width="60px">
                        </div>
                        <div class="col-3">
                            <img src="./assets/images/salon.svg" width="60px">
                        </div>
                    </div>
                </div>

                <div class="card-body">
                  <h3 >1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                </div>


                <div class="card-footer text-muted f_dark">
                  <div class="row">
                      <div class="col-6">
                        <h4><i class="far fa-clock"></i> 09:35</h4>
                      </div>
                      <div class="col-6 text-right">
                          <button class="btn btn-primary">Tomar Pedido</button>
                      </div>
                  </div>
                </div>
              </div>
        </div>
        <!-- FIN COMANDA -->
        <!-- COMANDA -->
        <div class="col-12 col-md-3">
            <div class="card shadow animated fadeIn">
                <div class="card-header f_rojo">
                    <div class="row">

                        <div class="col-6">
                            <h1>Y001 
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
                                13
                              </span>
                            </h1>
                            <h5>Preparando - EA0101</h5>
                        </div>
                        <div class="col-3" style="border-right: 1px solid white;">
                            <img src="./assets/images/cooking.svg" width="60px">
                        </div>
                        <div class="col-3">
                            <img src="./assets/images/salon.svg" width="60px">
                        </div>
                    </div>
                </div>

                <div class="card-body">
                  <h3 >1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                </div>


                <div class="card-footer text-muted f_dark">
                  <div class="row">
                      <div class="col-6">
                        <h4><i class="far fa-clock"></i> 09:35</h4>
                      </div>
                      <div class="col-6 text-right">
                          <button class="btn btn-primary">Tomar Pedido</button>
                      </div>
                  </div>
                </div>
              </div>
        </div>
        <!-- FIN COMANDA -->
        <!-- COMANDA -->
        <div class="col-12 col-md-3">
            <div class="card shadow animated fadeIn">
                <div class="card-header f_rojo">
                    <div class="row">

                        <div class="col-6">
                            <h1>Y001 
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
                                13
                              </span>
                            </h1>
                            <h5>Preparando - EA0101</h5>
                        </div>
                        <div class="col-3" style="border-right: 1px solid white;">
                            <img src="./assets/images/cooking.svg" width="60px">
                        </div>
                        <div class="col-3">
                            <img src="./assets/images/salon.svg" width="60px">
                        </div>
                    </div>
                </div>

                <div class="card-body">
                  <h3 >1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                </div>


                <div class="card-footer text-muted f_dark">
                  <div class="row">
                      <div class="col-6">
                        <h4><i class="far fa-clock"></i> 09:35</h4>
                      </div>
                      <div class="col-6 text-right">
                          <button class="btn btn-primary">Tomar Pedido</button>
                      </div>
                  </div>
                </div>
              </div>
        </div>
        <!-- FIN COMANDA -->
        <!-- COMANDA -->
        <div class="col-12 col-md-3">
            <div class="card shadow animated fadeIn">
                <div class="card-header f_rojo">
                    <div class="row">

                        <div class="col-6">
                            <h1>Y001 
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
                                13
                              </span>
                            </h1>
                            <h5>Preparando - EA0101</h5>
                        </div>
                        <div class="col-3" style="border-right: 1px solid white;">
                            <img src="./assets/images/cooking.svg" width="60px">
                        </div>
                        <div class="col-3">
                            <img src="./assets/images/salon.svg" width="60px">
                        </div>
                    </div>
                </div>

                <div class="card-body">
                  <h3 >1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                </div>


                <div class="card-footer text-muted f_dark">
                  <div class="row">
                      <div class="col-6">
                        <h4><i class="far fa-clock"></i> 09:35</h4>
                      </div>
                      <div class="col-6 text-right">
                          <button class="btn btn-primary">Tomar Pedido</button>
                      </div>
                  </div>
                </div>
              </div>
        </div>
        <!-- FIN COMANDA -->
        <!-- COMANDA -->
        <div class="col-12 col-md-3">
            <div class="card shadow animated fadeIn">
                <div class="card-header f_rojo">
                    <div class="row">

                        <div class="col-6">
                            <h1>Y001 
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
                                13
                              </span>
                            </h1>
                            <h5>Preparando - EA0101</h5>
                        </div>
                        <div class="col-3" style="border-right: 1px solid white;">
                            <img src="./assets/images/cooking.svg" width="60px">
                        </div>
                        <div class="col-3">
                            <img src="./assets/images/salon.svg" width="60px">
                        </div>
                    </div>
                </div>

                <div class="card-body">
                  <h3 >1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                </div>


                <div class="card-footer text-muted f_dark">
                  <div class="row">
                      <div class="col-6">
                        <h4><i class="far fa-clock"></i> 09:35</h4>
                      </div>
                      <div class="col-6 text-right">
                          <button class="btn btn-primary">Tomar Pedido</button>
                      </div>
                  </div>
                </div>
              </div>
        </div>
        <!-- FIN COMANDA -->
        <!-- COMANDA -->
        <div class="col-12 col-md-3">
            <div class="card shadow animated fadeIn">
                <div class="card-header f_rojo">
                    <div class="row">

                        <div class="col-6">
                            <h1>Y001 
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
                                13
                              </span>
                            </h1>
                            <h5>Preparando - EA0101</h5>
                        </div>
                        <div class="col-3" style="border-right: 1px solid white;">
                            <img src="./assets/images/cooking.svg" width="60px">
                        </div>
                        <div class="col-3">
                            <img src="./assets/images/salon.svg" width="60px">
                        </div>
                    </div>
                </div>

                <div class="card-body">
                  <h3 >1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                </div>


                <div class="card-footer text-muted f_dark">
                  <div class="row">
                      <div class="col-6">
                        <h4><i class="far fa-clock"></i> 09:35</h4>
                      </div>
                      <div class="col-6 text-right">
                          <button class="btn btn-primary">Tomar Pedido</button>
                      </div>
                  </div>
                </div>
              </div>
        </div>
        <!-- FIN COMANDA -->
        <!-- COMANDA -->
        <div class="col-12 col-md-3">
            <div class="card shadow animated fadeIn">
                <div class="card-header f_rojo">
                    <div class="row">

                        <div class="col-6">
                            <h1>Y001 
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
                                13
                              </span>
                            </h1>
                            <h5>Preparando - EA0101</h5>
                        </div>
                        <div class="col-3" style="border-right: 1px solid white;">
                            <img src="./assets/images/cooking.svg" width="60px">
                        </div>
                        <div class="col-3">
                            <img src="./assets/images/salon.svg" width="60px">
                        </div>
                    </div>
                </div>

                <div class="card-body">
                  <h3 >1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                </div>


                <div class="card-footer text-muted f_dark">
                  <div class="row">
                      <div class="col-6">
                        <h4><i class="far fa-clock"></i> 09:35</h4>
                      </div>
                      <div class="col-6 text-right">
                          <button class="btn btn-primary">Tomar Pedido</button>
                      </div>
                  </div>
                </div>
              </div>
        </div>
        <!-- FIN COMANDA -->
        <!-- COMANDA -->
        <div class="col-12 col-md-3">
            <div class="card shadow animated fadeIn">
                <div class="card-header f_rojo">
                    <div class="row">

                        <div class="col-6">
                            <h1>Y001 
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
                                13
                              </span>
                            </h1>
                            <h5>Preparando - EA0101</h5>
                        </div>
                        <div class="col-3" style="border-right: 1px solid white;">
                            <img src="./assets/images/cooking.svg" width="60px">
                        </div>
                        <div class="col-3">
                            <img src="./assets/images/salon.svg" width="60px">
                        </div>
                    </div>
                </div>

                <div class="card-body">
                  <h3 >1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                </div>


                <div class="card-footer text-muted f_dark">
                  <div class="row">
                      <div class="col-6">
                        <h4><i class="far fa-clock"></i> 09:35</h4>
                      </div>
                      <div class="col-6 text-right">
                          <button class="btn btn-primary">Tomar Pedido</button>
                      </div>
                  </div>
                </div>
              </div>
        </div>
        <!-- FIN COMANDA -->
        <!-- COMANDA -->
        <div class="col-12 col-md-3">
            <div class="card shadow animated fadeIn">
                <div class="card-header f_rojo">
                    <div class="row">

                        <div class="col-6">
                            <h1>Y001 
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
                                13
                              </span>
                            </h1>
                            <h5>Preparando - EA0101</h5>
                        </div>
                        <div class="col-3" style="border-right: 1px solid white;">
                            <img src="./assets/images/cooking.svg" width="60px">
                        </div>
                        <div class="col-3">
                            <img src="./assets/images/salon.svg" width="60px">
                        </div>
                    </div>
                </div>

                <div class="card-body">
                  <h3 >1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                  <h3>1x Lomo Salteado</h3>
                  <p>--> Papas Fritas</p>
                  <hr>
                </div>


                <div class="card-footer text-muted f_dark">
                  <div class="row">
                      <div class="col-6">
                        <h4><i class="far fa-clock"></i> 09:35</h4>
                      </div>
                      <div class="col-6 text-right">
                          <button class="btn btn-primary">Tomar Pedido</button>
                      </div>
                  </div>
                </div>
              </div>
        </div>
        <!-- FIN COMANDA -->
     

    
      </div>




</div>





