.header {
    padding:20px;
    background-color: #4479b8;
    color:white;
}

.header h1{
    font-size: 4em;
    font-weight: 700;
}

.header h2{
    font-size: 1.5em;
}

.seccion{
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.lista{
    display: inline-flex;
    padding-right: 5px;
}
.prod h3{
    margin-top:10px;
}

.lista h2{
    font-size: 1em;
    font-weight: 700;
}

.checks{
    background-image: url(src/assets/images/grey.png);
}

.checks h1{
    font-size: 2em;
    font-weight: 700;
    color:white;
}

.check{
    font-size: 1.2em;
}


.dispo,
.selected {
    padding: 0 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.dispo {
    color:white;
}

.selected {
    color: #2CEAA3;
}




.fondo {
    min-height: 100vh;
    background-color: #d2dae9;
}

.card {
    margin-bottom:20px;
}

.card-header h1{
    color:white;
    font-size: 2em;
    margin-bottom:0;
    font-weight: 700;
}

.card-header h5{
    font-size: 0.8em;
    color:white;
    font-style: italic;
    margin-bottom:10px;
}

.card-footer h4{
    margin-bottom:0;
    color:white;
    font-weight: 700;
    font-size:1.3em;
    padding-top:5px;
}


.card-body{
    max-height: 200px;
    overflow: auto; 
}


.card-body h3{
  font-size:1.2em;
  font-weight: 700;
  margin-bottom: 0;  
}

.card-body p{
  font-size:0.7em;
  margin-bottom: 0; 

}

hr{
margin:0
}




.comanda {
    background-color: white;
    max-width: 200px;
}


.card h5{
    display:inline-flex;
}

.modaltiempos{
    padding:20px;
    background-color: black;
    color: white;
    height: auto;
}

.modaltiempos h1{
    font-size: 2em;
    font-weight: 700;
}