
.comandas-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Columnas automáticas con ancho mínimo de 200px */
    grid-auto-rows: 10px; /* Altura de fila automática */
    gap: 10px; /* Espacio entre las comandas */
    grid-auto-flow: dense; /* Esto hará que las comandas se llenen automáticamente en los espacios vacíos */

  }
  
  .comanda {
    /* Estilo de las comandas */
    background-color: white;

    border-radius: 10px;
  }

.comandaHeader{
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px ;
    padding:10px;
}


.comandaHeader h1{
    color:white;
    font-size: 2em;
    margin-bottom:0;
    font-weight: 700;
}

.comandaHeader h5{
    font-size: 0.8em;
    color:white;
    font-style: italic;
    /* margin-bottom:10px; */
}

.card-footer h4{
    margin-bottom:0;
    color:white;
    font-weight: 700;
    font-size:1.3em;
    padding-top:5px;
}


.comanda-body{
    background-color: white;
    padding:10px;

    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px ;
}


.comanda-body h3{
  font-size:1.2em;
  font-weight: 700;
  margin-bottom: 0;  
}

.comanda-body p{
 color:red;
 font-weight: 700;
  margin-bottom: 0; 
}





/* ------------------------------------- */
/* ------------------------------------- */
/* ------------------------------------- */
/* ------------------------------------- */
.header {
    padding:20px;
    background-color: #4479b8;
    color:white;
}

.lista{
    cursor:pointer;
}


.header h1{
    font-size: 4em;
    font-weight: 700;
}

.header h2{
    font-size: 1.5em;
}

.seccion{
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.lista{
    display: inline-flex;
    padding-right: 5px;
}
.prod h3{
    margin-top:10px;
}

.lista h2{
    font-size: 1em;
    font-weight: 700;
}

.checks{
    background-image: url(src/assets/images/grey.png);
}

.checks h1{
    font-size: 2em;
    font-weight: 700;
    color:white;
}

.check{
    font-size: 1.2em;
}


.dispo,
.selected {
    padding: 0 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.dispo {
    color:white;
}

.selected {
    color: #2CEAA3;
}




.fondo {
    min-height: 100vh;
    background-color: #d2dae9;
}

.card {
    margin-bottom:20px;
    border-top-right-radius:20px ;
    border-top-left-radius:20px 
}


.card-header{
    border-top-right-radius:20px ;
    border-top-left-radius:20px 
}

.card-header h1{
    color:white;
    font-size: 2em;
    margin-bottom:0;
    font-weight: 700;
}

.card-header h5{
    font-size: 0.8em;
    color:white;
    font-style: italic;
    /* margin-bottom:10px; */
}

.card-footer h4{
    margin-bottom:0;
    color:white;
    font-weight: 700;
    font-size:1.3em;
    padding-top:5px;
}


.card-body{
    /* max-height: 200px; */
    height: 200px;
    overflow: auto; 
}


.card-body h3{
  font-size:1.2em;
  font-weight: 700;
  margin-bottom: 0;  
}

.card-body p{
 color:red;
 font-weight: 700;
  margin-bottom: 0; 
}

.iconoHead{
    color:white;
}


hr{
margin:0
}


.prod h3{
    display: inline;
}

.icono{
  width:25px;
  height: 25px;
}

.icono2{
  width:25px;
  height: 25px;
  background-color: white;
  border-radius: 10px;
}


.comanda {
    background-color: white;
    max-width: 200px;
}


.card h5{
    display:inline-flex;
}

.modaltiempos{
    padding:20px;
    background-color: black;
    color: white;
    height: auto;
}

.modaltiempos h1{
    font-size: 2em;
    font-weight: 700;
}


.mesa{
    font-weight: 700;
    font-size: 1em;
}

.card-header h5{
    margin-bottom:0;
    font-size: 1.1em;
}
/* MODAL COMANDA */


.headerDetalle{
    color:white;
}
.headerDetalle h1{
    font-size:2em;
    font-weight: 700;
    margin-bottom:0;

}

.headerDetalle h2{
    font-size: 3em;
    font-weight: 700;
}

.headerDetalle p{
    font-size: 0.8em;
    margin-bottom: 0;
}


.detalles {
    padding: 0 0 40px 20px;
    overflow: auto;
    height: calc(100vh - 180px);
    border-bottom: 4px solid #2CEAA3;

}

/* .detalle {
    padding:20px;
} */


.fila{
    border-top: 1px dotted rgba(0,0,0,0.8);
    padding:10px;
}

.detalle p{
    margin-bottom: 0;
    font-size: 1.2em;
}

.detalle h4{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.8em;
    color:cadetblue;
}


.detalle h5{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.8em;
    color:red;
}


.btn-morado{
    color: white;
    border-color: #563D7C;
    background-color: #563D7C;
}

.btn-cyan{
    color: white;
    border-color: #17A2B8;
    background-color: #17A2B8;
}