.header {
    padding:20px;
    background-color: #4479b8;
    color:white;
}

.header h1{
    font-size: 4em;
    font-weight: 700;
}

.header h2{
    font-size: 1.5em;
}


.listos{
    height: 100vh;
    background-image: url(src/assets/images/inflicted.png);

}





.card-header{
    padding:40px 0px 20px;
}

.card-header p{
    margin-bottom: -30px;
    color:white;
}

.card-header h1{
    font-size: 9em;
    font-weight: 700;
    color:white;
}

.estado {
    background-color: white;
    border-radius: 10px;
    padding:15px;
}

.estado h2 {
    text-align: center;
    font-weight: 700;
    /* color: #616366; */
}

.icono{
    color:red;
}



/* CARDBODY */
.card-body{
    /* max-height: 200px; */
    height: 200px;
    overflow: auto; 
}


.card-body h3{
  font-size:1.2em;
  font-weight: 700;
  margin-bottom: 0;  
}

.card-body p{
  font-size:0.7em;
  margin-bottom: 0; 

}

hr{
margin:0
}

.icono{
    width:25px;
    height: 25px;
  }
  